# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
__tests__/

#examples & docs
example-form/
docs/

#linters
.prettierrc
.eslintignore
.eslintrc

#unneeded source code
src/

#other
CODEOWNERS
.DS_Store
*.log
.vscode